target/
train-ticket-release-1.0.0/
results/
.classpath
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.project
.vscode/.idea/
commands.txt
/.settings/
.project
.classpath
/target/
/result